.title-wrapper{
    padding-top: 13.6875rem;
    padding-left: 30rem;
   
    
}
.title{
    font-size: 100px;
    line-height: 122px;
    color: $gray;
    font-weight: bold;
    text-shadow:0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255);
    flex: 1 0 auto;

}
.title-wrapper_img-block{
    margin-left: auto;
    margin-right: 16.1875rem;
    width: 736px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    flex: 0 0 auto;
}
.tel-block{
    position: relative;
}
.info{
    margin-top: 10.25rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info__block__orage{
    background-color:$orage ;
    padding:3.75rem 5.625rem 3.9375rem 5.3125rem;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    max-width: 614px;
}
.info__block__orage-link-wrapper{
    position: relative;
}
.ellipse{
    width: 42px;
    height: 42px;
    background: #FB714E;
    border-radius: 100%;
    position: absolute;
    
    left: -15px;
    bottom: -5px;
    
}
.info__block__orage-link{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    position: relative;
    z-index: 4;
}
.info__block__orage-link__img{
    margin-left: 1rem;

}
.info__block{
    display: flex;
}
.info__block__number{
    padding-left: 5rem;
    padding-right: 2rem;
}
.info__block__number-item{
    display: flex;
    align-items: center;
}
.info__block__number-item__number{
    font-weight: bold;
    font-size: 72px;
    line-height: 130%;
    color: $black;
    width: 150px;
}
.info__block__number-item__plus{
    padding: 0 1.25rem;
    color: $orage;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    
    
}
.info__block__number-item__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 130.5%;
    color: $gray_text;
}
.mln{
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: $black;
    padding-top: 10px;
}
.mg{
    margin-top: 2.375rem;
    margin-bottom: 2.75rem;
}
.info__text{
    margin-top: 55px;
    transform: rotate(90deg);
  height: 226px;
    font-weight: bold;
    font-size: 100px;
    line-height: 90%;
    text-shadow:0px 1px 0 rgb(240,76,35),0px -1px 0 rgb(240,76,35),1px 0px 0 rgb(240,76,35),-1px 0px 0 rgb(240,76,35),1px 1px 0 rgb(240,76,35),1px -1px 0 rgb(240,76,35),-1px 1px 0 rgb(240,76,35),-1px -1px 0 rgb(240,76,35);
}
.form__block-wrapper__content{
    margin-top: 1.875rem;
 
}
.form__block{
    display: flex;
    
    justify-content: space-between;
    padding-top: 10.75rem;
    padding-bottom: 6.375rem;
}
.form__block__title-wrapper{
    max-width: 593px;
    padding-left: 1.875rem;
    span{
        font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: $black;

    }
}
.form__block__title{
    font-weight: bold;
    font-size: 100px;
    line-height: 90%;
    color: $orage;
    
}
.form__block__title-text{
    font-weight: bold;
    font-size: 100px;
    line-height: 90%;
    text-shadow:0px 1px 0 rgb(240,76,35),0px -1px 0 rgb(240,76,35),1px 0px 0 rgb(240,76,35),-1px 0px 0 rgb(240,76,35),1px 1px 0 rgb(240,76,35),1px -1px 0 rgb(240,76,35),-1px 1px 0 rgb(240,76,35),-1px -1px 0 rgb(240,76,35);
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}
.form__block-wrapper{
    margin-left:13.1875rem ;
    max-width: 663px;
    display: flex;
}
.form__block-text{
   
   display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: $black;
    transform: rotate(-90deg);
width: 100px;
height: 62px;
white-space: nowrap;
margin-top: 300px;
transform-origin: left bottom right;
}
.form__block-wrapper__content-text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: $gray;
}
.form__block__form{
    display: flex;
    flex-direction: column;
    margin-top: 2.1875rem;
}
.form__block__form__input-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #6D6D6D;
    padding: 	0.625rem 0 0.625rem	1rem ;
    margin-bottom: 1.5rem;
    position: relative;
}
.form__block__form__input{
    border: none;
    background-color: transparent;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: $gray;
    width: 100%;
}
.form__block__form__btn-wrapper{
    display: flex;
    justify-content: space-between;
   
}
.form__block__form__checkbox-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form__block__form__checkbox-text{
    font-size: 14px;
line-height: 17px;
letter-spacing: 0.01em;
color: $gray;
margin-left: 20px;
}
.form__block__form__checkbox-link{
    color: $orage;

}
.form__block__form__btn{
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    background: $orage;
    border: none;
    justify-content: center;
    font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #fff;
}
.checkbox{
    position: relative;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    z-index: 2;
}

.checkbox .label {
    position: absolute;
    display: inline-block;
    top:-10px;
    left: 0;

}

.checkbox .label::before,
.checkbox .label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

.checkbox .label::before{
    height: 16px;
    width: 16px;
    
    border: 2px solid $orage;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

.checkbox .label::after {
    height: 6px;
    width: 7px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    
    transform: rotate(-60deg);
    
    left: 4px;
    top: 7px;
}
/*Прячем галку по умолчанию*/
.checkbox input[type="checkbox"] + .label::after {
    content: none;
   }
   /*Показываем галку по состоянию checked*/
   .checkbox input[type="checkbox"]:checked + .label::after {
    content: "";
    
   }
   .checkbox input[type="checkbox"]:checked + .label::before {
    background: $orage;
    
   }
/*Добавляем фокус к внешнему блоку поддельного чекбокса*/
.checkbox input[type="checkbox"]:focus + .label::before {
 
    
   }
#checkbox-error{
    position: absolute;
    width: 350px!important;
    bottom: -35px;
}
.error{
   
font-size: 18px;


    
}
#name-error,#tel-error,#email-error{
    width: 100%;
    border: 1px solid $orage;
        padding: .625rem 0 .625rem 1rem;
        height: 100%;
        position: absolute;
        right: 0;
        height: 47px;
        display: flex ;
        align-items: flex-start;
        justify-content: flex-end;
        padding-right:	0.75rem ;
        color: $orage;
        font-weight: 600;
    font-size: 10px;
    line-height: 130%;
}
.form__block__modal-wrapper{
  width: 515px;
   
    margin: o auto;
    padding: 0.625rem 0.625rem 3.5rem 1rem;
    background-color: #fff;
}
.form__block__modal-wrapper__content{
    display: flex;
}
.form__block__modal-btn{
    margin-left: auto;
    display: block;
}
.form__block__modal-btn{
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.form__block__form-modal{
    padding-right: 2.5rem;
}
.form__block__modal-wrapper__content-text{
    font-size: 18px;
    line-height: 120%;
    color: $gray-text;
    margin-bottom:	0.6875rem ;
}
.form__block__modal__form__btn{
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f04c23;
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #fff;
    margin-top:	1.875rem ;
    img{
        margin-left: 0.625rem;
    }
}
.modal__success-wrapper{
    width: 360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $gray-text;
    background-color: #fff;
    padding:1.75rem 2.5rem;
    
}
.modal__success__title{
    font-weight: bold;
font-size: 24px;
line-height: 130%;

margin-bottom: 2.5rem;
color: #000;
text-transform: uppercase;
text-align: center;
}
.modal__success__line{
    width: 113px;
    height: 0px;
    margin: 0 auto;
    border: 2px solid #F04C23;
}
.modal__success__text{
    font-size: 18px;
line-height: 120%;
text-align: center;
max-width: 244px;
margin: 0.875rem auto 0 auto;
display: block;
}
.overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .56);
    display: none;
    
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#application,#success{
    display: none;
}