//MEDIA: 1679
@media screen and (max-width: 1530px) {
    .header__menu-link {
        margin-left: 	0.625rem;
        margin-right: 	0.625rem;
    }
    .header__menu__logo {
        margin-right: 	1.25rem;
    }
    .tel-block{
        margin-left: 1.25rem;
    } 
}
//MEDIA: 1439
@media screen and (max-width: 1439px) {
    .header__menu__logo {
        margin-right: 	1rem;
    }
    .tel-block{
        margin-left: 1rem;
    } 
}

@media screen and (max-width: 1380px) {
    .header__menu-link {
        margin-left: 		0.5rem;
        margin-right: 		0.5rem;
    }
}
@media screen and (max-width: 1380px) {
    .burger{
        display: block!important;
    }
    .header__menu-block{
        display: none;
        
        flex-direction: column;
    }
    .header__menu{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .tel-block{
        margin-left: auto;
    }
    .header__menu-wrapper-1{
        display: flex;
        align-items: flex-start;
    }
    .header__menu__logo{
        margin-top: 20px;
    }
    .header__menu-block{
        margin-top: 20px;
    }
    .header__menu-item{
        margin-bottom: 20px;
    }
    .title-wrapper_img-block{
        width: 600px;
        margin-right: 5rem;
    }
    .form__block-wrapper{
        margin-left: 2rem;
        margin-right: 1rem;

    }
}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {}

//!MEDIA: 1359

//MEDIA: 1199

@media screen and (max-width: 1199px) {
    .info__text{
        display: none;
    }
    .title-wrapper_img-block{
        width: 500px;
        margin-right: 5rem;
    }
    .title-wrapper{
        padding-left: 10rem;
    }
}
@media screen and (max-width: 1100px) {}
//MEDIA: 1023
@media screen and (max-width: 1023px) {
  .form__block,.info__block{
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .form__block-wrapper{
      margin-top: 2rem;
  }
  .info__block__number{
      margin-top: 2em;
      padding: 0;
  }
  .info{
      margin-top: 2rem;
  }
  .form__block{
      padding-top: 2rem;
  }
  .title-wrapper {
    padding-top: 4rem;
    padding-left: 2rem;
    
}
.header__menu-wrapper-1{
    min-width: 280px;
}
.tel-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}

//!MEDIA: 1023

//MEDIA: 991
@media screen and (max-width: 991px) {
    .header__btn{
        margin: 0 auto;
    }
}
@media screen and (max-width: 830px) {
    .burger{
        left: 0px;
    }
    .header__btn{
        margin-top: 1.25rem;
    }
    .title-wrapper_img-block{
        width: 400px;
    }
    .dn-custom{
        display: none;
    }
}
//MEDIA: 767
@media screen and (max-width: 767px) {
    .tel-block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .burger{
        left: -70px;
    }
.title{
    font-size: 50px;
    line-height: 62px;
}
.form__block__title,.form__block__title-text{
    font-size: 50px;
    line-height: 62px;
}
}
@media screen and (max-width: 639px) {
    .info__block__orage{
        padding:2rem 1rem;
        width: 100%;
    }
}

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 480px) {
    .title-wrapper_img-block{
        width: 300px;
        margin-right: 2rem;
    }
    .header__btn{
        width: 150px;
    }
    .header__menu__logo{
        width: 80px;
    }
    .form__block-text{
        display: none;
    }
    .tel-block__item-link{
        font-size: 15px;
    }
    .header__btn{
        font-size: 15px;
    }
    .header__menu-wrapper-1{
    min-width: 250px;
}
.form__block__modal-wrapper{
    width: 380px;
}
.form__block__form-modal{
    padding-right: 1.25rem;
}
}
@media screen and (max-width: 380px)  {
    .form__block__modal-wrapper{
        width: 350px;
    }
}